*{
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    border:0;
}

#particles-js{
    height: 100%;
 	width: 100%;
 	position: fixed;
	/* background: rebeccapurple; */
	background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    z-index: -99;
}
header{
    text-align: center;
    font-size: 25px;
    position: absolute;
	/* background-color: #f3f3f38f; */
	background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    width: 100%;
    z-index: 100;
}
.movie_title{
    display: inline-flex;
    align-items: center;
    height: auto;
}
.movie_title_name{
    padding-left: 10px;
    font-size: 40px;
}
nav{
    padding: 10px 0px;
    background-color: rgba(0,0,0,0.4);
}
nav a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}
nav a:hover{
    border-bottom: 2px solid black;
    text-decoration:none;
    color:black;
}

/* .footer-content{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c3c7c0e3;
    font-size: 20px;
    height: 50px;
    padding: 5px 0px;
} */
