<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Movie Recommendation System</title>
	<link rel="shortcut icon" type="image/svg+xml" href="static/movie_icon.svg">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
	{% block link %}{% endblock %}
</head>
<header>
	<div class="movie_title">
		<div class="movie_icon">
			<img content="image/svg+xml" src="static/movie_icon.svg" width="100px" height="100px"/>
		</div>
		<div class="movie_title_name">Movie Recommendation System</div>
	</div>
	<nav>
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('recommendation') }}">Recommendation</a>
		<a href="#">About</a>
		{% if user_logged_in %}
		<a href="{{ url_for('account') }}">Account</a>
		<a href="{{ url_for('logout') }}">Logout</a>
		{% else %}
		<a href="{{ url_for('login_page') }}">Login</a>
		<a href="{{ url_for('sign_up_page') }}">Sign Up</a>
		{% endif %}
		
	</nav>
</header>

<body>
	<div id="particles-js"></div>
			{% block body %}

			{% endblock %}
	


	<div class="footer">
			<div class="footer-content signup-page">
					©Developed by Batch B2
			</div>
		</div>
</body>









{% block include_js %}
<script src="{{ url_for('static', filename='particles.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}

	
</html>